@tailwind base;
@tailwind components;
@tailwind utilities;

.fc {
    font-size: 1.1rem;
}

.calendar-outer {
    height: 1080; /* 960px grid + ~120px header */
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-width: 98vw;
    box-sizing: border-box;
}

.calendar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.calendar-wrapper .fc-header-toolbar {
    flex-shrink: 0;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 1rem;
    margin-bottom: 1.5rem;
}
.calendar-wrapper .fc-view-harness {
    flex-grow: 1;
    min-height: 0;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 1rem;
}
.fc-theme-standard .fc-scrollgrid {
    border: none !important;
}
.fc .fc-view {
    background-color: transparent !important;
}