{% extends "base.html" %}

{% block top_buttons %}
    <div class="flex items-center space-x-4">
        <button id="auth-modal-btn" class="flex items-center space-x-2 text-slate-600 hover:text-indigo-600 font-medium transition-colors duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>
            <span>
            {% if is_google_logged_in or is_microsoft_logged_in %}
                My Account
            {% else %}
                Login
            {% endif %}
            </span>
        </button>
        <button id="new-booking-btn" class="flex items-center space-x-2 bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-lg shadow-sm transition-colors duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
            </svg>
            <span>New Booking</span>
        </button>
    </div>
{% endblock %}

{% block content %}
<div class="calendar-outer">
    <div class="calendar-wrapper">
        <div id='calendar'></div>
    </div>
</div>

{% include 'partials/_auth_modal.html' %}
{% include 'partials/_booking_modal.html' %}
{% include 'partials/_booking_details_modal.html' %}

<script src="{{ url_for('static', filename='node_modules/@fullcalendar/core/index.global.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/@fullcalendar/daygrid/index.global.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/@fullcalendar/timegrid/index.global.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/@fullcalendar/interaction/index.global.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
{% endblock %}